//bootstrap vars rewrite
$font-family-sans-serif: 'PT Root UI', Roboto, sans-serif !default;
$font-size-base: 1rem;
$gray-900: #242D2E !default;
$blue: #0055FF !default;
$gray-400: #D3E5E9;

//custom vars
$base-font: $font-family-sans-serif;
$base-font-size: $font-size-base;

$color-dark: $gray-900;
$color-primary: $blue;
$color-border: $gray-400;
$color-light: #FAFCF9;
