h1 {
    &.page-title {
        margin: -8px 0 11px 0;
        font-size: 24px;
        text-align: left;
    }
}

.pr-crumbs {
    margin: 0 0 22px 0;

    span {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
    }

    a {
        text-decoration: none;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: #808080;
        font-size: 16px;
        padding-right: 9px;
        margin: 0 3px 0 0;

        &:after {
            content: '';
            position: absolute;
            width: 3px;
            height: 7px;
            background: url("../_images/bgs.png") no-repeat -32px 0;
            right: 0;
            top: 50%;
            margin: -2px 0 0 0;
        }
    }
}

.pr-block-seo {
    &.sub-bg {
        background-color: #f8f8f8;
        color: #666666;
        font-size: 14px;
        line-height: 20px;
        padding: 17px 0 18px 0;

        .pr-mainer {
            max-width: 1170px;
        }
    }
}

.pr-block-page-grid {
    &:after  {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }

    .left-column {
        width: 270px;
        float: left;
        margin: 0 -270px 0 0;
    }

    .right-column {
        width: 100%;
        box-sizing: border-box;
        padding-left: 286px;
        float: left;
    }
}

.pr-checkbox-wrap {
    display: inline-block;
    position: relative;
    background-color: transparent;
    vertical-align: middle;

    span {
        display: block;
        box-sizing: border-box;
        position: relative;
        width: 20px !important;
        height: 20px !important;
        border: 2px solid #333;
    }

    span.checked {
        border-color: #148afc;
        background: url("../_images/icon-check.svg") no-repeat center;
    }

    input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        width: 100% !important;
        height: 100% !important;
        -webkit-appearance: none;
        filter:alpha(opacity=0);
    }
}

.pr-aside-filter-tree {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        position: relative;
        display: block;
        padding: 1px 0 2px 0;
        margin: 18px 0 0 0;

        &:first-child {
            margin: 0;
        }

        &.has-sub {
            padding-left: 35px;
        }

        ul {
            margin-top: 18px;
        }
    }

    .expand {
        position: absolute;
        left: 0;
        top: 1px;
        width: 20px;
        height: 20px;
        background: url("../_images/11.svg") no-repeat center;
        background-size: 40px;
        cursor: pointer;

        &.active {
            background: url("../_images/13-h.svg") no-repeat center;
        }
    }

    label {
        position: relative;
        padding-left: 36px;
        font-size: 14px;
        color: #333333;
        display: inline-block;
        cursor: pointer;

        &:hover, &:focus {
            color: #1377d4;
        }

        .pr-checkbox-wrap {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.pr-aside-filters {
    margin: 0 0 40px 0;

    .block-filter-element {
        background-color: #f8f8f8;
        margin: 0 0 30px 0;

        label {
            position: relative;
            padding-left: 36px;
            font-size: 14px;
            color: #333333;
            display: inline-block;
            cursor: pointer;
            margin: 17px 0 0 0;

            &:first-child {
                margin: 0;
            }

            &:hover, &:focus {
                color: #1377d4;
            }

            .pr-checkbox-wrap {
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        .filter-body {
            padding: 12px 12px 28px 12px;
        }

        .reset-all-filters {
            display: block;
            height: 40px;
            line-height: 40px;
            text-decoration: none;
            text-align: right;
            padding: 0 40px 0 16px;
            font-size: 16px;
            color: #333;
            position: relative;
            background-color: #e4e4e4;
            transition-duration: 0.25s;

            &:hover {
                opacity: 0.7;
            }

            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background: url("../_images/icon_close_black.svg") no-repeat center;
                background-size: 10px;
                right: 18px;
                top: 50%;
                z-index: 3;
                margin: -5px 0 0 0;
            }
        }

        &.active-filters {
            .filter-body {
                padding: 12px 18px 12px 14px;
            }

            .reset-all-filters {
                margin: 14px -18px -12px -14px;
            }
        }

        .active-item  {
            position: relative;
            padding-right: 18px;
            font-size: 14px;
            color: #333333;
            display: block;
            margin: 7px 0 0 0;

            &:first-child {
                margin: 0;
            }

            .reset {
                position: absolute;
                width: 10px;
                height: 10px;
                background: url("../_images/icon_close.svg") no-repeat center;
                background-size: 10px;
                right: 0;
                top: 50%;
                z-index: 3;
                margin: -5px 0 0 0;
                transition-duration: 0.25s;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        .filter-head {
            height: 40px;
            line-height: 40px;
            background-color: #148afc;
            color: #fff;
            font-size: 16px;
            white-space: nowrap;
            overflow: hidden;
            padding: 0 40px 0 16px;
            text-overflow: ellipsis;
            position: relative;
            transition-duration: 0.25s;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 16px;
                transform: translateY(-50%);
                width: 14px;
                height: 8px;
                background: url("../_images/82-w.svg") no-repeat center;
                background-size: 14px;
            }

            &.opened {
                &:after {
                    transform: rotate(180deg);
                    margin: -4px 0 0 0;
                }
            }
        }
    }
}

input.pr-button {
    border: none;
    outline: none;
    cursor: pointer;
}

.w100 {
    width: 100%;
}

.pr-prod-thumbs-list {
    .pr-block-product-thumb {
        margin: 0 0 40px 0;
        .block-image img {
            max-height: 180px;
        }
    }
}

.pr-top-products-sort {
    margin: 0 0 40px 0;

    .inner-wrap {
        display: table;
        border-collapse: collapse;
        width: 100%;


        >.cell {
            display: table-cell;
            vertical-align: middle;
            padding-left: 58px;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                text-align: right;
            }
        }
    }

    .sorting-select {
        display: table;
        border-collapse: collapse;

        .caption, .value {
            display: table-cell;
            vertical-align: middle;
        }

        .caption {
            padding-right: 16px;
            color: #333;
            font-size: 14px;
        }
    }

    .sbHolder {
        display: inline-block;
        vertical-align: middle;
        width: 178px !important;
    }

    .display-toggle {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px 0 0;

        &:after {
            content: '';
            display: block;
            clear: both;
            width: 100%;
        }

        > a {
            display: block;
            float: left;
            width: 22px;
            height: 22px;
            margin: 0 0 0 19px;

            &:first-child {
                margin: 0;
            }

            &.thumb {
                background: url("../_images/sort-icons.png") no-repeat 0 -22px;

                &:hover, &.active {
                    background-position: 0 0;
                }
            }

            &.table {
                background: url("../_images/sort-icons.png") no-repeat 0 -44px;

                &:hover, &.active {
                    background-position: 0 -66px;
                }
            }
        }
    }
}

.pr-block-pager {
    text-align: right;
    margin: 0 0 28px 0;

    a {
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        text-align: center;
        border: 1px solid transparent;
        box-sizing: border-box;
        line-height: 38px;
        font-size: 20px;
        color: #333;
        margin: 0 3px;


        &.active {
            background-color: #e6e6e6;
            border-color: #333;
        }

        &.next, &.prev {
            background: #e6e6e6;
            position: relative;

            &:hover {
                background-color: #148afc;
            }
        }

        &.next {
            &:after {
                position: absolute;
                content: '';
                width: 18px;
                height: 8px;
                left: 50%;
                top: 50%;
                margin: -4px 0 0 -8px;
                transform: rotate(-90deg);
                background: url("../_images/82.svg") no-repeat center;
                background-size: 18px;
            }

            &:hover {
                &:after {
                    background: url("../_images/82-w.svg") no-repeat center;
                    background-size: 16px;
                }
            }
        }

        &.prev {
            &:after {
                position: absolute;
                content: '';
                width: 18px;
                height: 8px;
                left: 50%;
                top: 50%;
                margin: -4px 0 0 -9px;
                transform: rotate(90deg);
                background: url("../_images/82.svg") no-repeat center;
                background-size: 18px;
            }

            &:hover {
                &:after {
                    background: url("../_images/82-w.svg") no-repeat center;
                    background-size: 16px;
                }
            }
        }
    }
}

.pt-page-error {
    text-align: center;
    min-height: 706px;
    box-sizing: border-box;
    padding: 96px 0;

    .block-title {
        font-size: 32px;
        margin: 0 0 42px 0;
    }

    img {
        display: block;
        margin: 0 auto 44px auto;
        max-width: 100%;
    }

    .block-description {
        font-size: 20px;
        line-height: 28px;
        margin: 0 0 30px 0;

        .button-wrap {
            padding: 30px 0 0 0;
        }

        .pr-button {
            height: 55px;
            line-height: 55px;
            min-width: 220px;
            font-size: 20px;
            text-align: center;
        }
    }

    .block-phone {
        font-size: 32px;
        color: #808080;
    }
}

.pr-block-news-view {
    padding: 22px 0 178px 0;

    &:after  {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }

    .left-column {
        width: 100%;
        float: left;
        padding-right: 364px;
        box-sizing: border-box;
    }

    .right-column {
        width: 240px;
        margin-left: -240px;
        position: relative;
        z-index: 1;
        float: left;
    }

    .block-news-date {
        color: #808080;
        font-size: 14px;
        margin: 0 0 21px 0;
    }

    .pr-social-link-list {
        margin: 0 0 36px 0;
    }

    .pr-button {
        min-width: 170px;
        text-align: center;
    }

    .block-foot-news {
        padding: 28px 0 0 0;
    }

    .block-news-content {
        img {
            display: block;
            margin: 0 auto 45px auto;
            max-width: 100%;
        }

        p {
            margin: 0 0 22px 0;
            font-size: 16px;
            color: #333333;
            line-height: 21px;
        }
    }
}

.pr-social-link-list {
    &:after  {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }

    a {
        float: left;
        margin: 0 0 0 10px;
        transition-duration: 0.25s;
        width: 36px;
        height: 37px;
        background: url("../_images/news-soc-icons.png") no-repeat;

        &.tw {
            background-position: 0 -1px;
        }

        &.vk {
            background-position: -46px -1px;
        }

        &.fb {
            background-position: -93px -1px;
        }

        &.pin {
            background-position: -139px -1px;
        }

        &.gp {
            background-position: -186px -1px;
        }

        &.lk {
            background-position: -232px -1px;
        }
        
        &:hover {
            opacity: 0.7;
        }

        &:first-child {
            margin: 0;
        }
    }
}

.pr-aside-popular-news {
    .block-title {
        font-size: 24px;
        margin: 0 0 38px 0;
    }

    .news-item {
        margin: 70px 0 0 0;

        &:first-child {
            margin: 0;
        }

        .name {
            text-decoration: none;
            font-size: 16px;
            color: #000;
            display: block;
            margin: 0 0 15px 0;
        }
    }

    .block-list {
        margin: 0 0 68px 0;
    }

    .block-button {
        padding: 0 34px;
        text-align: right;

        .pr-button {
            background-color: transparent;
            color: #148afc !important;
            line-height: 38px;
            min-width: 170px;
            border: 2px solid #148afc;

            &:hover {
                background-color: #148afc;
                color: #fff !important;
            }
        }
    }

    .date {
        font-size: 14px;
        color: #808080;
        margin: 0 0 23px 0;
    }

    .image {
        display: block;
        margin: 0 0 7px 0;

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    .short-description {
        font-size: 14px;
        color: #000;
        line-height: 20px;
    }
}

@import "adaptive";