<div class="cht-widget js-chat-widget-wrap">
    <div class="cht-widget-frame">
        <div class="cht-close" onclick="chatWidgetItem.toggleFrame()">&times;</div>
        <div class="cht-widget-frame-head">
            <div class="media-element">
                <div class="media-element-img" style="background: url('./img/temp-ava.png')"></div>
                <div class="media-element-info">
                    <div class="customer-name">Olivia</div>
                    <div class="customer-description">Customer Support️</div>
                </div>
            </div>

            <a href="https://13chats.com/" class="cht-brand-link">Powered by 13chats</a>
        </div>

        <div class="cht-widget-frame-body">
            <div class="media-element reverse">
                <div class="media-element-info media-element-cell">
                    <div class="cht-text-element">
                        Hi, it seems you have been on our site for a long time.
                        How can we help you?
                    </div>
                    <div class="media-element-time">09:42</div>
                </div>
                <div class="media-element-cell">
                    <div class="media-element-img" style="background: url('./img/temp-ava.png')"></div>
                </div>
            </div>

            <div class="media-element">
                <div class="media-element-cell">
                    <div class="media-element-img" style="background: url('./img/temp-ava.png')"></div>
                </div>
                <div class="media-element-info media-element-cell">
                    <div class="cht-text-element">
                        Hi, it seems you have been on our site for a long time.
                        How can we help you?
                    </div>
                    <div class="media-element-time">09:42</div>
                </div>
            </div>
        </div>

        <div class="cht-widget-frame-footer">
            <!--<img src="./img/temp-fb-messenger.png" alt="">-->
            <script src="//fbstore.sendpulse.com/loader.js" data-sp-widget-id="23815238-0944-4eb6-8c34-624892fd4d2c" async></script>
        </div>
    </div>

    <div class="cht-welcome-text js-cht-welcome-text" onclick="chatWidgetItem.toggleFrame()">
        <div class="cht-welcome-text-avatar" style="background: url('./img/temp-ava.png')"></div>
        <div class="cht-close">&times;</div>
        Hi! Feel free to chat us in Facebook Messenger
    </div>

    <button class="cht-widget-bubble" type="button" onclick="chatWidgetItem.toggleFrame()">
        <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.7261 0.28125H7.26593C3.48198 0.28125 0.265625 3.43839 0.265625 7.15268V21.0813C0.265625 24.9813 3.48198 28.1384 7.26593 28.1384H18.9962V32.7812C25.4289 32.7812 30.7264 27.5812 30.7264 21.267V7.33839C30.9156 3.43839 27.6993 0.28125 23.7261 0.28125ZM11.8067 16.6241C10.4823 16.6241 9.3471 15.5098 9.3471 14.2098C9.3471 12.9098 10.4823 11.7955 11.8067 11.7955C13.1311 11.7955 14.2662 12.9098 14.2662 14.2098C14.2662 15.5098 13.1311 16.6241 11.8067 16.6241ZM19.3746 16.6241C18.0502 16.6241 16.915 15.5098 16.915 14.2098C16.915 12.9098 18.0502 11.7955 19.3746 11.7955C20.699 11.7955 21.8341 12.9098 21.8341 14.2098C22.0233 15.5098 20.8882 16.6241 19.3746 16.6241Z"
                  fill="#0055FF"/>
        </svg>
    </button>
</div>