$font-family-sans-serif: 'Lato', sans-serif;
$font-family-base: $font-family-sans-serif !default;

$base-font-size: 20px;

//theme color vars
$green:   #28cac3 !default;
$cyan:    #2cb0fe !default;
$text-muted: #5f677e;
$color-dark: #363a47;