$base-font-size: 15px;
$base-font-family: 'Proxima Nova Rg';
$bold-font-family: 'Proxima Nova Bold';
$light-font-family: 'Proxima Nova Light';
$medium-font-family: 'Proxima Nova Semibold';

$success-color: #a9b533;
$text-color: #2b2d38;
$muted-color: #595959;
$light-color: #f8f8fb;
$link-color: #23527c;
$dark-color: #50555c;

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../../assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('../../assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
    url('../../assets/fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../../assets/fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('../../assets/fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
    url('../../assets/fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../../assets/fonts/ProximaNova-Light/ProximaNova-Light.eot');
    src: local('Proxima Nova Light'), local('ProximaNova-Light'),
    url('../../assets/fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
    url('../../assets/fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Md';
    src: url('../../assets/fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot');
    src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
    url('../../assets/fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
    url('../../assets/fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html, body, p, a, div, span, td, table, tr, th, ul, li,
ol, h1, h2, h3, h4, h5, h6, small, strong, input,
select, textarea {
    font-family: $base-font-family;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    @media (min-width: 767px) {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 767px) {
    .main-content-holder {
        flex: 1 0 auto;
        overflow: hidden;
    }

    .main-foot-holder {
        flex-shrink: 0;
    }
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: darken($link-color, 6%);
    }
}

.container {
    width: 1140px !important;
    max-width: 1140px !important;
}

.btn-success {
    background-color: $success-color;
    border-color: $success-color;

    &:hover {
        background-color: darken($success-color, 6%);
        border-color: darken($success-color, 6%);
    }
}

.page-header-section {
    min-height: 835px;
    position: relative;
    background: url("../../assets/images/top-section-bg.png") no-repeat top center;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -104px;
        height: 210px;
        background-color: #fff;
        -webkit-transform: skewY(-6.25deg);
        -moz-transform: skewY(-6.25deg);
        -ms-transform: skewY(-6.25deg);
        -o-transform: skewY(-6.25deg);
        transform: skewY(-6.25deg);
    }

    .navbar {
        padding: 35px 0;
        margin-bottom: 92px;
    }

    .navbar-brand {
        img {
            display: block;
            max-width: 100%;
        }
    }

    .navbar-nav {
        .nav-link {
            color: #fff;
        }

        .nav-item {
            padding-left: 45px;
            font-size: $base-font-size + 10;

            &:hover {
                text-decoration: underline;
            }

            &:first-child {
                padding-left: 0;
            }
        }
    }
}

.page-header-section-description {
    h1 {
        font-size: 88px;
        color: #fff;
        font-family: $bold-font-family;
        margin-bottom: 18px;
    }

    p {
        font-size: 38px;
        color: #fff;
        margin-bottom: 100px;
    }

    .btn-success {
        min-width: 450px;
        border-radius: 4px;
        font-family: $bold-font-family;
        border-bottom: 3px solid darken($success-color, 6%);
        font-size: 32px;
        padding: 1.5rem 2rem;
    }
}

.about-text-section {
    margin: -44px 0 0 0;
    position: relative;
    padding-bottom: 130px;

    .about-text-section-img img {
        max-width: 160px;
    }

    h2 {
        color: $text-color;
        font-family: $bold-font-family;
        font-size: 60px;
        margin-bottom: calc(.5rem + 5px);
    }

    .sub-title-descript {
        color: $text-color;
        font-size: 32px;
        margin-bottom: 70px;
    }

    &-description {
        color: $text-color;
        font-size: 24px;
        font-family: $light-font-family;
        margin-bottom: 62px;
    }

    &-img {
        margin-bottom: 36px;
    }

    .btn-outline-success {
        min-width: 450px;
        border-radius: 4px;
        font-family: $bold-font-family;
        font-size: 32px;
        padding: 1.5rem 2rem;
        color: $muted-color;
        border: 2px solid $success-color;

        &:hover {
            color: #fff;
            background-color: $success-color;
        }
    }
}

.help-section {
    background-color: $light-color;
    padding: 90px 0 150px;

    h2 {
        font-size: 60px;
        color: $text-color;
        margin-bottom: 138px;
    }

    &-item {
        .item-title {
            font-size: 38px;
            color: $text-color;
            font-family: $medium-font-family;
            margin-bottom: 12px;
        }

        .icon-wrapper {
            margin-bottom: 40px;
        }

        p {
            font-size: 24px;
            color: $text-color;
            font-family: $light-font-family;
        }

        a {
            font-size: 24px;
        }
    }
}

.cta-bottom-section {
    padding: 84px 0 176px;

    .btn-success {
        font-size: 28px;
        min-width: 460px;
    }

    &-img {
        margin-bottom: 70px;
    }

    h2 {
        margin-bottom: 35px;
        font-size: 60px;
        color: $text-color;
        line-height: 54px;
    }

    p {
        font-family: $light-font-family;
        color: $text-color;
        font-size: 25px;
        margin-bottom: 22px;
    }
}

.products-section {
    background-color: $light-color;
    padding: 82px 0 128px;

    h2 {
        font-size: 60px;
        color: $text-color;
        margin-bottom: 76px;
    }
}

.product-list-item {
    @media (min-width: 992px) {
        img {
            max-width: 100%;
            max-height: 40px;
        }
    }
}

.footer-section {
    background-color: #000;
    padding: 124px 0;
    color: #fff;

    .foot-logo {
        margin-bottom: 12px;
        max-width: 290px;
    }

    a {
        color: #fff;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }

    .copy-text, .privacy-text {
        font-size: 14px;
    }

    .description-text-title {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .description-text {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 50px;
    }

    .footer-social-links {
        margin-bottom: 24px;
    }

    .foot-links-title, .foot-nav-links a {
        font-size: 16px;
        color: #fff;
    }

    .foot-links-title {
        margin-bottom: 28px;
    }

    .footer-section-links {
        max-width: 600px;
        flex: 0 0 600px;
    }

    .foot-contacts-title, .foot-contacts-info {
        font-size: 16px;
        color: #fff;
    }

    .foot-contacts-title {
        margin-bottom: 22px;
    }

    .foot-contacts-info {
        line-height: 24px;
    }
}

.footer-social-links {
    > a {
        display: block;
        width: 34px;
        height: 34px;
        text-decoration: none;
        margin: 0 0 0 12px;
        transition-duration: 0.25s;
        background: url("../../assets/images/social-icons.png") no-repeat;

        &:first-child {
            margin: 0;
        }

        &:hover {
            opacity: 0.8;
        }

        &.fb {
            background-position: -1px -2px;
        }

        &.tw {
            background-position: -49px -2px;
        }

        &.lk {
            background-position: -97px -2px;
        }

        &.vb {
            background-position: -145px -2px;
        }

        &.tl {
            background-position: -192px -2px;
        }

        &.gp {
            background-position: -241px -2px;
        }

        &.ins {
            width: 36px;
            height: 36px;
            background-position: -291px -1px;
        }
    }
}

.page-heading-section {
    background-color: $light-color;
    padding: 22px 0;
    margin-bottom: 30px;

    .page-heading-title {
        color: #707070;
        font-size: 38px;
    }

    .page-heading-logo {
        max-width: 290px;

        img {
            margin-right: 3px;
        }

        .media-body {
            font-size: 13px;
            color: $text-color;
            text-transform: uppercase;
            font-family: "Times New Roman", serif;
        }

        .divider {
            max-width: 170px;
            height: 2px;
            border: none;
            background-color: #707070;
            margin-top: 3px;
            margin-bottom: 3px;
        }
    }
}

.header-section {
    background-color: $dark-color;
    padding: 32px 0;

    .navbar-brand {
        padding: 0;
    }

    .navbar {
        padding: 0;
    }


    .navbar-nav {
        .nav-link {
            color: #fff;
        }

        .dropdown-menu {
            position: absolute;
        }

        .nav-item {
            padding-left: 45px;
            font-size: $base-font-size + 10;

            &.divider {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 40px;
                    right: 0;
                    top: 50%;
                    margin: -20px 0 0 0;
                    background-color: #fff;
                }
            }

            &:hover {
                text-decoration: underline;
            }

            &:first-child {
                padding-left: 0;
            }
        }

        .nav-item-login {
            padding-right: 60px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                width: 44px;
                height: 44px;
                border-radius: 100%;
                border: 2px solid #707070;
                background: #d4d4d4 url("../../assets/images/user-icon.png") no-repeat center;
                margin: -22px 0 0 0;
            }
        }
    }
}

.panel-links-list {
    padding-top: 76px;

    .card-title {
        font-family: $bold-font-family;
        font-size: 24px;
        color: #707070;
    }

    &-item {
        margin: 0 0 60px 0;
        border: 2px solid #e5e5e5;
        position: relative;

        .card-body {
            padding: 40px 24px;
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            height: 10px;
            background-color: #91d4d8;
            border-bottom: 2px solid #e5e5e5;
        }

        .card-body {
        }

        a {
            font-size: 22px;
            color: #1a477e;
        }

        &.first {
            &:after {
                background-color: #91d4d8;
            }
        }

        &.second {
            &:after {
                background-color: #87cdaf;
            }
        }

        &.third {
            &:after {
                background-color: #f7ca59;
            }
        }
    }
}

.nav-tabs {
    border-bottom: 2px solid #e9e9f0;
    margin-bottom: 38px;

    .nav-link {
        color: #43425d;
        font-size: 24px;
        padding: 0 18px 12px 18px;

        &:focus, &:hover {
            border-color: transparent;
        }
    }

    .nav-item.show .nav-link,
    .nav-link.active {
        border: none;
        border-bottom: 4px solid $success-color;
    }
}

.text-muted {
    color: #707070 !important;
}

.font-weight-bold {
    font-family: $bold-font-family !important;
}

.form-group {
    margin-bottom: 30px;
}

.form-control {
    border-radius: 0;
    border-color: #707070;

   &:focus {
        color: #495057;
        background-color: #fff;
        border-color: $success-color;
        outline: 0;
        box-shadow: none;
   }
}

.form-row-divider-wrap {
    position: relative;

    .form-row-divider {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    > div {
        &:first-child {
            padding-right: 47px;
        }

        &:last-child {
            padding-left: 47px;
        }
    }
}

.form-group-divider {
    border: none;
    height: 2px;
    background-color: #e9e9f0;
    margin-bottom: 30px;
}

.custom-control-label {
    &:before {
        border: 2px solid #000;
    }
}

.custom-control-input:checked~.custom-control-label:before {
    background-color: transparent;
    border-color: #000;
}

.custom-control-input:focus:not(:checked)~.custom-control-label:before {
    border-color: #000;
}

.custom-control-input:focus~.custom-control-label:before {
    box-shadow: none;
}

.custom-radio .custom-control-input:checked~.custom-control-label:after {
    background-image: url("../../assets/images/radio-dot.png");
}

.table-info, .table-info>td, .table-info>th {
    background-color: #f5f6fa;
    color: #a3a6b4;
}

table {
    a {
        color: #073873 !important;
        font-family: $base-font-family;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    td {
        color: #4d4f5c;
    }
}

.page-heading-steps {
    margin-bottom: 90px;
    max-width: calc(100% - 90px);
    margin-left: auto;
    margin-right: auto;
    padding-top: 13px;

    .steps-progress {
        height: 9px;
        background-color: #f1f0f5;
        border-top: 1px solid #dfdfe0;
        position: relative;
        overflow: hidden;

        .steps-progress-bar {
            position: absolute;
            left: 0;
            top: 0;
            height: 9px;
            background-image: linear-gradient(to right, #18a2dc 75%, rgba(24,162,220,0));
        }
    }

    .steps-points {
        position: relative;

        .steps-points-name {
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            white-space: nowrap;
            color: #707070;
            font-size: 16px;
            top: 22px;
        }

        .steps-points-item {
            position: absolute;
            left: 0;
            width: 32px;

            .dot {
                width: 32px;
                height: 32px;
                border-radius: 100%;
                background-color: #fff;
                z-index: 10;
                border: 6px solid #f1f0f5;
                position: absolute;
                left: 50%;
                margin: -22px 0 0 -24px;
            }

            &.active {
                .dot {
                    border-color: #18a2dc;
                    background: #fff url("../../assets/images/icon_check.svg") no-repeat center / 14px;
                }
            }

            &:nth-child(2) {
                left: 25%;
            }

            &:nth-child(3) {
                left: 50%;
            }

            &:nth-child(4) {
                left: 75%;
            }

            &:nth-child(5) {
                left: 100%;
            }
        }
    }
}

.btn-link {
    color: #073873;
}

.default-link {
    color: #073873;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.collapse-head-item {
    border-bottom: 6px solid #50555c;
    padding: 0 0 10px 0;
    margin-bottom: 20px;
}

.btn-collapse-toggle {
    display: inline-block;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #50555c;
    border: none;
    padding: 0;
    font-size: 1rem;
    border-radius: 4px;
    width: 26px;
    overflow: hidden;
    height: 26px;

    &:hover {
        text-decoration: none;
        color: #fff;
    }

    &:after {
        content: '-';
        line-height: 22px;
        font-size: 40px;
    }

    &.collapsed {
        &:after {
            content: '+';
            line-height: 27px;
            font-size: 30px;
        }
    }
}

.add-name-link {
    color: #073873;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;

    .badge {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        padding: 0;
        text-align: center;
        line-height: 24px;
        color: #fff;
        background-color: #073873;
    }
}

.table-bordered td, .table-bordered th {
    border: 2px solid #737373;
}

.alert.alert-danger {
    background-color: #f76b6b;
}

.light-link-styles {
    text-decoration: underline;
    color: #3b86ff;

    &:hover {
        text-decoration: none;
    }
}

.success-alert-block {

    .badge {
        padding: 0;
        width: 52px;
        height: 52px;
        border-radius: 100%;
        background-color: #50c978;
        border: 2px solid #259a4c;
        text-align: center;
        overflow: hidden;
        position: relative;

        img {
            width: 40px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
    }
}