@import "_custom-vars";

@import "libs/bootstrap/scss/bootstrap";
@import "libs/slick/slick";
@import "libs/fullpage/fullpage";

.body {
    background-color: #fff;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
    font-family: $sub-font-family;
}

.navbar {
    padding: 0 80px;
    min-height: 80px;

    &.bg-light {
        background-color: #fff !important;
    }


    @media (max-width: 1640px) {
        padding: 0 40px;
    }

    @media (max-width: 992px) {
        padding: 0 20px;
    }
}

.navbar-light .navbar-nav {
    .nav-link {
        color: $color-dark;
        font-size: 14px;
        font-weight: 500;
    }

    .nav-item.active, .nav-item:hover {
        .nav-link {
            color: $cyan;
        }
    }

}

.page-section-holder {
    position: relative;
    padding: 80px 80px 0;

    @media (max-width: 1640px) {
        padding: 80px 40px 0;
    }

    @media (max-width: 992px) {
        padding: 0;
    }
}

.section-start {
    @media (max-width: 992px) {
        .page-section-holder {
            padding-top: 80px;
        }

        .content-inner-holder {
            justify-content: center;
            align-items: center;
            display: flex;
            overflow: hidden;
        }
    }
}

.align-top {
    .fp-tableCell {
        vertical-align: top;
    }
}

.content-inner-holder {
    background-color: $color-bg;
    min-height: calc(100vh - 160px);

    @media (max-width: 1640px) {
        min-height: calc(100vh - 120px);
    }
}

.block-invest-logo {
    margin-bottom: 35px;

    @media (max-width: 1640px) {
        img {
            max-width: 160px;
        }
    }
}

.top-section-info {
    h1 {
        font-size: 70px;
        max-width: 710px;
        margin-bottom: 20px;
    }

    p {
        color: $color-dark;
        line-height: 22px;
        max-width: 640px;
        margin-bottom: 58px;
    }
}

.top-section-slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    img {
        max-height: calc(100vh - 160px);
    }

    .slick-slide {
        height: calc(100vh - 160px);
        background-size: cover !important;
        background-position: center !important;
    }

    @media (max-width: 1640px) {
        img {
            max-height: calc(100vh - 120px);
        }

        .slick-slide {
            height: calc(100vh - 120px);
        }
    }
}

.col-top-info {
    padding-bottom: 85px;
}

@keyframes levitation {
    0% {
        transform: translateY(0px); }
    25% {
        transform: translateY(10px); }
    50% {
        transform: translateY(0px); }
    75% {
        transform: translateY(-10px); }
    100% {
        transform: translateY(0px); } }


.btn-section-down {
    //position: absolute;
    //bottom: 80px;
    //left: 50%;
    //transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.4em;
    position: relative;

    &:after {
        content: '';
        left: 50%;
        position: absolute;
        top: 42px;
        height: 60px;
        width: 1px;
        background: #fff;
        animation: levitation 3s linear 0s infinite;
    }

    &:hover {
        text-decoration: none;
    }
}

#fp-nav {
    right: 37px;

    @media (max-width: 1640px) {
        right: 18px;
    }

    ul li {
        display: block;
        width: 6px;
        height: auto;
        padding: 0;
        margin: 20px 0 0 0;
        position: relative;

        &:first-child {
            margin-top: 0;
        }
    }

    ul li a.active span,
    ul li:hover a.active span,
    ul li:hover a span {
        height: 6px;
        width: 6px;
        margin: 0;
        background: $cyan;
    }
    ul li a span {
        height: 6px;
        width: 6px;
        background: $color-dark;
        margin: 0;
        border-radius: 50%;
        position: static;
        left: auto;
        top: auto;
        display: block;
    }
}

.section-map {
    .content-inner-holder {
        padding: 0 100px;
        
        @media (max-width: 1640px) {
            padding: 0 40px;
        }
    }

    p {
        line-height: 22px;
        max-width: 490px;
    }

    @media (max-width: 1200px) {
        p {
            max-width: 100%;
            line-height: 15px;
            font-size: 12px;
            text-align: center;
        }

        #vmap {
            height: 425px !important;
            width: 680px !important;
            margin: 0 auto;
        }
    }



    .block-invest-logo {
        left: 0;
        top: 0;
    }

    @media (max-width: 992px) {
        .content-inner-holder {
            padding-top: 0;
            padding-bottom: 40px;
        }

    }
}

.jqvmap-pin {
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    margin-left: -11.3%;
    margin-top: -5%;
    max-width: 100px;



    strong {
        font-size: 12px;
        display: block;
    }

    &#jqvmap1_26_pin {
        margin-top: -6.5%;
    }

    &#jqvmap1_21_pin {
        margin-left: -12%;
        margin-top: -4.3%;
    }

    &#jqvmap1_43_pin {
        margin-left: -12.9%;
    }

    //&#jqvmap1_32_pin {
    //    margin-top: -2%;
    //    margin-left: -12.2%;
    //}

    @media (max-width: 1640px) {
        line-height: 12px;
        strong {
            font-size: 10px;
        }
    }
}

.section-region-view {
    .regions-slide-arrows {
        margin-left: 140px;
        position: relative;
        z-index: 100;
        bottom: -90px;

        .btn {
            margin-right: 36px;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .content-inner-holder {
        padding: 90px 100px 0;
    }

    @media (max-width: 1640px) {
        .content-inner-holder {
            padding: 40px 40px 0;
        }
    }

    .block-invest-logo {
        left: 0;
        top: 0;
    }
}

.region-view-row {
    .region-view-col {
        &.map-col {
            max-width: 694px;
            flex: 0 0 694px;
        }

        &.info-col {
            margin-left: 86px;
            flex-grow: 1;
            display: flex;
            flex-direction: row;
        }

        .nav-tabs {
            flex-direction: column;
            max-width: 270px;
            flex: 0 0 270px;
            margin-right: 46px;
            border-bottom: none;

            .nav-link {
                border: none;
                border-left: 4px solid transparent;
                line-height: 22px;
                font-size: 18px;
                color: $color-dark;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                padding: 0 0 0 19px;

                @media (max-width: 1640px) {
                    line-height: 19px;
                    font-size: 15px;
                }

                &:hover {
                    color: $cyan;
                }

                &.active {
                    color: $cyan;
                    background-color: transparent;
                    border-left-color: $cyan;
                    font-weight: bold;
                }

            }

            .nav-item.show .nav-link {
                color: $cyan;
                background-color: transparent;
                border-left-color: $cyan;
            }

            .nav-item {
                margin-top: 20px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    .region-map-block {
        height: 627px;
        max-height: calc(100vh - 160px);
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        padding: 120px 40px 40px 140px;

        @media (max-width: 1640px) {
            max-height: calc(100vh - 120px);
        }

        .region-name {
            font-size: 54px;
            font-weight: bold;
            font-family: $sub-font-family;
            line-height: 47px;
            margin-bottom: 60px;
            letter-spacing: -0.02em;

            small {
                font-size: 36px;
                font-weight: 300;
            }
        }

        .region-characteristics {
            width: auto;
            margin-bottom: 40px;

            td {
                padding: 0;
                font-size: 32px;
                font-family: $sub-font-family;
                padding-left: 27px;
                padding-top: 12px;

                &:first-child {
                    padding-left: 0;
                }
            }

            tr:first-child {
                td {
                    padding-top: 0;
                }
            }

            small {
                font-size: 16px;
                display: block;
                font-family: $font-family-base;
                margin-bottom: -10px;
            }
        }
    }
}

@media (max-width: 1640px) {

    .section-region-view {
        .regions-slide-arrows {
            margin-left: 60px;
            bottom: -50px;
        }
    }

    .region-view-row {
        .region-view-col {
            &.map-col {
                max-width: 45%;
                flex: 0 0 45%;
            }

            &.info-col {
                margin-left: 20px;
            }
        }

        .region-map-block {
            padding: 60px 40px 40px 60px;
            background-position: 40px 50px !important;
            background-size: auto calc(100% - 60px) !important;
            height: auto;
            min-height: 450px;

            .region-name {
                font-size: 38px;
                margin-bottom: 32px;

                small {
                    font-size: 22px;
                }
            }

            .region-characteristics {
                margin-bottom: 40px;

                td {
                    font-size: 24px;
                }

                small {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .region-view-row {
        .region-view-col {
            &.info-col {
                display: flex;
                justify-content: center;
                width: 100%;
                max-width: 460px;
                margin: 0 auto;

                .tab-content {
                    flex-grow: 1;
                }
            }
        }
    }

    .regions-slide-arrows {
        display: none !important;
    }
}

.modal {
    z-index: 105000;
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(100%, 0px);
}

.modal.show {
    display: flex !important;
    .modal-dialog {
        transform: none;
    }
}

.modal-dialog {
    max-width: 960px;
    height: 100vh;
    width: 100%;
    margin: 0;
    margin-left: auto;

    .close {
        position: absolute;
        left: 34px;
        top: 23px;
        color: #fff;
        z-index: 12;
        opacity: 1;
        font-size: 38px;
        font-weight: 300;
    }

    .modal-body {
        padding: 0 80px;
    }

    .card {
        margin-top: -100px;
        border-radius: 0;
        border: none;
        box-shadow: none;
        position: relative;
        z-index: 15;

        .card-body {
            border-radius: 0;
            border: none;
            box-shadow: none;
            padding: 40px 50px;
            font-size: 16px;
            line-height: 23px;
        }

        .card-title {
            font-size: 40px;
            font-family: $sub-font-family;
            margin-bottom: 36px;
            font-weight: bold;
        }
    }

    .modal-content {
        height: 100%;
        border: none;
        border-radius: 0;
        outline: 0;
        max-height: 100vh;
        overflow-y: auto;
        padding-top: 58%;
        position: relative;
        padding-bottom: 28px;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 58%;
            background: url("../../assets/images/modal-bg.png") no-repeat top center / cover;
            left: 0;
            top: 0;
        }
    }
}

@media (max-width: 1640px) {
    .modal-dialog {
        .card {
            margin-top: -100px;
            border-radius: 0;
            border: none;
            box-shadow: none;
            position: relative;
            z-index: 15;

            .card-body {
                padding: 30px 40px;
                font-size: 14px;
                line-height: normal;
            }
        }

        .modal-content {
            padding-top: 250px;

            &:after {
                height: 250px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .modal-dialog {
        max-width: 560px;

        .modal-body {
            padding: 0 20px;
        }

        .card {
            margin-top: -60px;

            .card-title {
                font-size: 28px;
                font-family: $sub-font-family;
                margin-bottom: 20px;
                font-weight: bold;
            }
        }
    }
}

@media (max-width: 992px) {
    .modal-dialog {
        max-width: 90%;

        .modal-body {
            padding: 0 20px;
        }

        .card {
            margin-top: 0;

            .card-title {
                font-size: 28px;
                font-family: $sub-font-family;
                margin-bottom: 20px;
                font-weight: bold;
            }
        }

        .modal-content {
            padding-top: 20px;
            padding-bottom: 20px;

            &:after {
                display: none;
            }
        }
    }
}

.btn {
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
}

.animate-icons-wrap {
    &.road-icon {
        #road-icon {
            path:nth-child(2) {
                animation: slideUp ease 1.5s;
            }
        }
    }

    &.factory-icon {
        animation: fadeIn ease 2s;
    }

    &.build-icon {
        animation: fadeIn ease 2s;
    }
}

.region-card-info {
    position: relative;
    padding-right: 26px;
    display: inline-block;

    &.info-small {
        .card-units {
            top: 22px;
        }

        .region-card-info-number {
            font-size: 130px;
            line-height: 94px;
        }
    }

    .card-units {
        position: absolute;
        transform: rotate(90deg);
        color: $cyan;
        font-size: 18px;
        right: -28px;
        top: 82px;
    }

    &-number {
        color: $cyan;
        font-weight: 300;
        font-size: 180px;
        line-height: 134px;
        margin-left: -6px;
    }

    small {
        font-size: 18px;
        color: $cyan;
        line-height: 24px;
        display: block;
        margin-bottom: 16px;
    }
}

.section-region-slider {
    position: absolute;
    height: 200px;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;

    .slick-list {
        margin: 0 -5px;
    }

    .card {
        margin: 0 5px;
        border: none;
        border-radius: 0;
        background: linear-gradient(117.76deg, #FFFFFF 0%, #EEEEEE 100%);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
    .card-body {
        height: 200px;
        box-sizing: border-box;
        padding: 20px 30px;
        justify-content: space-between;
    }

    .slick-slide {
        &:focus {
            outline: none !important;
        }

        &:hover {
            .card {
                background: #FFE300;
            }
        }

        .card.selected-slide {
            background: #FFE300;
        }
    }

    .reg-export-unit {
        font-size: 30px;
        position: relative;
        line-height: normal;

        &:before {
            content: '$';
            position: absolute;
            left: -12px;
            top: 4px;
            font-size: 16px;
        }

        &.ua {
            &:before {
                content: '\20B4';
            }
        }

        &.no-unit {
            &:before {
                display: none;
            }
        }

        small {
            position: absolute;
            font-size: 16px;
            font-weight: 300;
            transform: rotate(270deg);
            right: -12px;
            letter-spacing: -0.02em;
            bottom: 100%;
            margin-bottom: 30px;
            line-height: 14px;
        }
    }

    .table {
        margin: 0;

        td {
            padding: 0;
            vertical-align: middle;
        }
    }

    .card-reg-name {
        font-family: $sub-font-family;
        font-size: 22px;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: -0.02em;

        strong {
            font-weight: bold;
            font-size: 28px;
        }
    }

    @media (max-width: 1640px) {
        height: 140px;

        .card-body {
            height: 140px;
            padding: 14px 20px;
        }

        .reg-export-unit {
            font-size: 38px;
            line-height: normal;

            &:before {
                content: '$';
                position: absolute;
                left: -12px;
                top: 4px;
                font-size: 18px;
            }

            small {
                position: absolute;
                font-size: 14px;
            }
        }

        .card-reg-name {
            font-size: 18px;

            strong {
                font-weight: bold;
                font-size: 24px;
            }
        }
    }

    @media (max-width: 992px) {
        overflow: hidden;
    }
}

@keyframes slideUp {
    0% {
        transform: translate(75px, -50px);
    }
    100% {
        transform: translate(75px, 0);
    }
}

@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.fade-in {
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
    border: none;
    color: #000;
}

.jqvmap-zoomin, .jqvmap-zoomout {
    border-radius: 0;
    padding: 3px;
    color: white;
    width: 20px;
    height: 20px;
    line-height: 15px;
}

.jqvmap-zoomout {
    top: 34px;
}

#vmap {
    .vmap-capital {
        position: absolute;
        width: 30px;
        height: 40px;
        background: url("../../assets/images/regions/kyiv-1.svg") no-repeat center / contain;
        top: 26%;
        left: 51.2%;
        z-index: 10;
        cursor: pointer;

        @media (max-width: 1680px) {
            margin-top: 10px;
            margin-left: -4px;
        }
        
        @media (max-width: 1520px) {
            margin-top: 10px;
            margin-left: -4px;
        }

        @media (max-width: 1460px) {
            margin-top: 10px;
            margin-left: -4px;
        }

        &.selected, &:hover {
            background: url("../../assets/images/regions/kyiv-b-1.svg") no-repeat center / contain;
        }

        .jqvmap-label {
            padding: 3px 10px;
            right: 100%;
            margin-top: -10px;
        }

        &:hover {
            .jqvmap-label {
                display: block;
            }
        }
    }
}

.section-last {
    .block-invest-logo {
        left: 30px;
        top: 28px;
        z-index: 1;

        @media (max-width: 1640px) {
            img {
                max-width: 120px;
                left: 20px;
                top: 17px;
            }
        }
    }

    .section-region-slider {
        position: relative;
        left: auto;
        bottom: auto;
        width: 425px;
        height: auto;
        padding-right: 45px;

        @media (max-width: 1640px) {
            width: 380px;
            padding-right: 25px;
        }

        .slick-arrow {
            position: absolute;
            right: 0;
            bottom: 0;
            border: none;
            outline: none;
            font-size: 0;
            color: transparent;
            width: 12px;
            height: 34px;

            &.slick-prev {
                background: transparent url("../../assets/images/arrow-y-down.svg") no-repeat center;
            }

            &.slick-next {
                bottom: 74px;
                background: transparent url("../../assets/images/arrow-y-up.svg") no-repeat center;
            }
        }
        
        @media (max-width: 992px) {
            width: 100%;
        }

        .card {
            margin: 5px 0;

            .region-descr-text {
                font-size: 13px;
                line-height: 17px;
            }
        }

        .card-body {
            height: 170px;
        }

        &.three-slides {
            .card-body {
                height: 236px;
            }
        }

        &.variable-width {
            //max-height: calc(100vh - 240px);
            overflow: hidden;

            .card-body {
                height: auto;
            }
        }

        .slick-list {
            padding: 5px 20px;
        }
    }

    .bg-panel {
        height: 100vh;
        max-height: calc(100vh - 160px);
        padding-top: 60px;
        padding-bottom: 60px;
        color: #fff;
        position: relative;

        @media (max-width: 1640px) {
            max-height: calc(100vh - 120px);
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        &.bkg-1 {
            &:after {
                background: url("../../assets/images/last-section-bg/bg-10.jpg") no-repeat center / cover;
            }
        }

        &.bkg-2 {
            &:after {
                background: url("../../assets/images/last-section-bg/bg-2.png") no-repeat center / cover;
            }
        }

        &.bkg-3 {
            &:after {
                background: url("../../assets/images/last-section-bg/bg-3.png") no-repeat center / cover;
            }
        }

        &.bkg-4 {
            &:after {
                background: url("../../assets/images/last-section-bg/bg-4.png") no-repeat center / cover;
            }
        }

        &.bkg-5 {
            &:after {
                background: url("../../assets/images/last-section-bg/bg-9.jpg") no-repeat center / cover;
            }
        }

        &.bkg-6 {
            &:after {
                background: url("../../assets/images/last-section-bg/bg-6.png") no-repeat center / cover;
            }
        }

        &.bkg-7 {
            &:after {
                background: url("../../assets/images/last-section-bg/bg-7.png") no-repeat center / cover;
            }
        }

        &.bkg-8 {
            &:after {
                background: url("../../assets/images/last-section-bg/bg-8.png") no-repeat center / cover;
            }
        }

        .bg-panel-inner {
            padding: 0 8px;
            position: relative;
            z-index: 10;
        }
    }

    .nav-tabs {
        flex-direction: column;
        border-bottom: none;

        .nav-link {
            border: none;
            line-height: 21px;
            font-weight: bold;
            font-size: 18px;
            color: #fff;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding: 0 0 0 56px;
            position: relative;

            &:hover {
                color: #FFE300;
            }

            &.active {
                font-size: 28px;
                color: #FFE300;
                background-color: transparent;

                &:after {
                    content: "";
                    position: absolute;
                    width: 30px;
                    height: 1px;
                    background-color: #FFE300;
                    left: 0;
                    top: 50%;
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    border: 1px solid #FFE300;
                    left: 30px;
                    border-radius: 100%;
                    top: 50%;
                    margin-top: -3px;
                }
            }

        }

        .nav-item.show .nav-link {
            color: #FFE300;
            background-color: transparent;
        }

        .nav-item {
            margin-top: 28px;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 1640px) {
    .region-card-info-number {
        font-size: 100px;
        line-height: 70px;
    }

    .region-card-info small {
        font-size: 15px;
        line-height: 19px;
    }

    .region-card-info .card-units {
        font-size: 15px;
        top: 72px;
    }
}

@media (max-width: 992px) {
    .section-region-view .content-inner-holder {
        padding: 0 0 320px 0;
    }

    .region-view-row .region-map-block {
        padding: 100px 60px 0;
        height: auto;
    }

    .region-view-row .region-view-col.map-col {
        max-width: 768px;
        flex: 0 0 100%;
        margin: 0 auto 80px auto;
    }
}

@media (max-width: 767px) {
    .section-region-view .content-inner-holder {
        padding: 0 0 0 0;
    }
}

#fp-nav {
    z-index: 100000;
}

.fl-nav-arrow  {
    z-index: 100000;
    position: fixed;
    right: 34px;
    top: 50%;
    padding: 0 5px;
    height: 32.5px;

    &.naw-arrow-top {
        background: url("../../assets/images/arrow-up.svg") no-repeat center;
        margin-top: -105px;
    }

    &.naw-arrow-bottom {
        background: url("../../assets/images/arrow-down.svg") no-repeat center;
        margin-top: 72px;
    }

    @media (max-width: 1640px) {
        right: 15px;
    }

    &:hover {
        opacity: 0.5;
    }

    @media (max-width: 992px) {
        display: none !important;
    }
}

.section-nav-label {
    position: absolute;
    z-index: 10000;
    transition-duration: 0.3s;
    left: -100px;
    transform: translate(0, -50%) rotate(-90deg) ;
    top: 50%;
    font-family: $sub-font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    width: 18px;
    white-space: nowrap;
    padding-left: 56px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -1px;
        height: 2px;
        width: 40px;
        background-color: $color-dark;
    }
}

.fp-section {
    &.active.fp-completely {
        .section-nav-label {
            left: 10px;

            @media (max-width: 1640px) {
                left: -9px;
            }
        }

    }
}

@media (min-width: 992px) {
    .animate-icons-wrap {
        #car-icon {
            g {
                opacity: 0;
                transition: opacity 3s;

                &.fade-show {
                    opacity: 1;
                }
            }
        }

        #money-icon {
            path {
                opacity: 0;
                transition: opacity 3s;

                &.fade-show {
                    opacity: 1;
                }
            }
        }
    }
}

.navbar-toggler {
    &:focus {
        outline: none !important;
    }
}

@media (max-width: 1200px) {
    .region-view-row .region-view-col .nav-tabs {
        max-width: 220px;
        flex: 0 0 220px;
        margin-right: 20px;
    }

    .section-region-slider {
        .card-reg-name {
            font-size: 16px;
            line-height: 20px;

            strong {
                font-size: 20px;
            }
        }

        .reg-export-unit {
            font-size: 40px;
            position: relative;
            line-height: 29px;
        }

        .card-body {
            img {
                max-width: 40px;
            }
        }

        .card .region-descr-text {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .section-last {
        .section-region-slider {
            position: relative;
            left: auto;
            bottom: auto;
            width: 300px;
            height: auto;
        }

        .section-region-slider .card .region-descr-text {
            max-height: 120px;
            overflow-y: auto;
        }
    }
}

@media (max-width: 992px) {

    .rating-mob-accordion {
        padding: 0 45px;

        .collapse.show {
            border-bottom: 1px solid #C4C4C4;
            margin-bottom: 20px;
        }

        .card-header {
            text-align: left;

            .btn-link {
                font-family: $sub-font-family;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: normal;
                color: #00C6D7;
                text-align: left;
                position: relative;
                padding-right: 40px !important;
                display: block;
                width: 100%;

                &:after {
                    content: '';
                    position: absolute;
                    width: 24px;
                    height: 15px;
                    right: 0;
                    top: 13px;
                    background: url("../../assets/images/arrow-ac-up.png") no-repeat center;
                }

                &.collapsed {
                    color: #303030;

                    &:after {
                        background: url("../../assets/images/arrow-ac-down.png") no-repeat center;
                    }
                }
            }
        }
    }

    .section-mob-title {
        font-weight: bold;
        font-size: 80px;
        line-height: 106px;
        color: rgba(#333, 0.1);
        font-family: $sub-font-family;
    }

    .section-start {
        .content-inner-holder {
            min-height: calc(100vh - 80px);
        }

        .top-section-slider .slick-slide {
            height: calc(100vh - 80px);
            background-size: cover !important;
        }
    }

    .section-map {
        padding-top: 100px;
        background-color: #EEEEEE;

        .section-mob-title {
            margin-left: 60px;
            margin-bottom: 40px;
        }

        .content-inner-holder {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .section-region-view {
        .section-mob-title {
            margin-left: 60px;
            margin-bottom: 70px;
        }
    }

    .section-last {
        .content-inner-holder {
            padding-top: 100px;
            padding-bottom: 60px;
            min-height: 1px;
        }
        .section-mob-title {
            margin-left: 60px;
            margin-bottom: 70px;
        }
    }

    #vmap {
        .jqvmap-pin {
            display: none;
        }
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #FFE300;
        min-height: 100vh;
        overflow-y: auto;
        transform: translateX(-100%);
        transition-duration: 0.15s;
        z-index: 100000;
        padding: 60px 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .menu-label {
            font-size: 60px;
            font-weight: bold;
        }

        &.show {
            transform: translateX(0);
        }

        .navbar-nav.ml-auto {
            margin-left: 0 !important;
        }

        .navbar-nav  {
            .nav-link {
                font-size: 28px;
            }

            .nav-item {
                margin-top: 20px;

                &:first-child {
                    margin-top: 0;
                }
            }

            .lang-switch {
                position: absolute;
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%);

                .nav-link {
                    padding: 0;
                    font-size: 20px;
                    font-weight: bold;
                    display: flex;
                    border-radius: 100%;
                    width: 48px;
                    height: 48px;
                    background-color: $cyan;
                    color: #fff;
                    align-items: center;
                    justify-content: center;
                    margin-left: 18px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &.current-lang {
                        color: $color-dark;
                        background-color: transparent;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .navbar-toggler {
            right: 40px;
            top: 28px;
            position: absolute;

            .close {
                font-size: 45px;
                font-weight: 300;
                line-height: 1;
                color: #000;
                opacity: 1;
                float: none;
                text-shadow: none;
            }
        }
    }
}

@media (max-width: 720px) {

    .content-inner-holder {
        min-height: 1px;
    }

    .region-view-row {
        .region-view-col {
            .nav-tabs {
                max-width: 160px;
                flex: 0 0 160px;
                margin-right: 15px;

                .nav-item {
                    margin-top: 12px;
                }

               .nav-link {
                   font-size: 13px;
                   line-height: normal;
                   padding: 0 0 0 12px;
               }
            }

        }
    }

    .region-view-row .region-map-block {
        padding: 30px 20px 0;
        height: auto;
    }

    .region-card-info {
        position: relative;
        padding-right: 0;
        display: block;
        padding-bottom: 30px;

        .card-units {
            position: absolute;
            transform: rotate(0) translateX(-50%);
            font-size: 14px;
            right: auto;
            top: auto;
            left: 50%;
            bottom: 0;
        }

        small {
            font-size: 12px;
            line-height: normal;
            display: block;
            text-align: center;
        }
    }

    .feature-region-info {
        .animate-icons-wrap {
            img {
                max-width: 60px;
            }

            .d-flex {
                flex-wrap: wrap !important;
            }
        }
    }

    .region-card-info-number {
        font-size: 60px;
        text-align: center;
        line-height: normal;
    }

    .region-card-info.info-small {
        .card-units {
            top: auto;
        }

        .region-card-info-number {
            font-size: 60px;
            text-align: center;
            line-height: normal;
        }
    }

    .rating-mob-accordion {
        padding: 0;
    }

    .section-mob-title {
        font-size: 32px;
        line-height: normal;
        margin-left: 15px !important;
        margin-bottom: 40px !important;
    }

    .top-section-info {
        padding: 0 20px;
        h1 {
            font-size: 32px;
        }

        p {
            font-size: 14px;
        }
    }

    .section-start {
        .content-inner-holder {
            min-height: 1px;
            padding-top: 80px;
            padding-bottom: 40px;
        }

        .top-section-slider .slick-slide {
            height: 580px;
            background-size: cover !important;
        }
    }

    .section-map {
        padding-top: 60px;
    }

    .section-last .content-inner-holder {
        padding-top: 60px;
    }
}

@media (max-width: 560px) {

    .navbar-brand {
        margin-right: 12px;
        &:first-child {
            img {
                max-width: 56px;
            }
        }

        &:nth-child(2) {
            img {
                max-width: 60px;
            }
        }

        &:last-child {
            img {
                max-width: 78px;
            }
        }
    }

    .navbar {
        padding: 0 10px;
    }

    .navbar-collapse {
        padding: 50px 40px;

        .menu-label {
            font-size: 40px;
        }

        .navbar-nav  {
            .nav-link {
                font-size: 22px;
            }

            .nav-item {
                margin-top: 12px;
            }
        }

        .navbar-toggler {
            right: 20px;
            top: 18px;
            position: absolute;
        }
    }
}

.map-reg-list {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;

    .h5 {
        font-size: 14px;
    }
}